<div class="container">
  
  <h1>T-Shirt Reader: All your shirts belong to us</h1>

  <div class="row">
      <div class="col-md-6">

          <webcam 
              [trigger]="triggerObservable" 
              (imageCapture)="handleImage($event)"></webcam>
            
          <button class="btn btn-success" (click)="triggerSnapshot();">Take A Snapshot</button>
      </div>
      <div class="col-md-6">

          <div id="results">Your captured image will appear here...</div>
          <img src="{{ captureImage }}" height="300px">
      </div>
      <app-shirt-text [content]="currentText"></app-shirt-text>
  </div>
</div>